{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<h2>Welcome, {{ user.username }}!</h2>
{% if user.document %}
<h3>Your documents:</h3>
<ul>
  <li><a href="{{ user.document.pan.url }}">PAN</a></li>
  <li><a href="{{ user.document.frro.url }}">FRRO</a></li>
  <li><a href="{{ user.document.entry.url }}">Entry</a></li>
  <li><a href="{{ user.document.exit.url }}">Exit</a></li>
</ul>
{% else %}
<p>You have not uploaded any documents yet.</p>
{% endif %} {% else %}
<p>Please log in or sign up to access your documents.</p>
{% endif %} {% endblock %}
