html,
body,
body .vc_general.vc_btn3 small,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.stm_contacts_widget.style_3,
.stats_counter h3,
a.allservices,
.elementor-container .elementor-progress-text,
.elementor-container .elementor-tab-title a,
.elementor-container .consulting_heading_font,
.elementor-container .elementor-widget-wp-widget-nav_menu ul li,
.elementor-container .elementor-tab-title,
.elementor-button,
.elementor-button-text,
.default_widgets .widget.widget_nav_menu ul li .children li,
.default_widgets .widget.widget_categories ul li .children li,
.default_widgets .widget.widget_product_categories ul li .children li,
.stm_sidebar .widget.widget_nav_menu ul li .children li,
.stm_sidebar .widget.widget_categories ul li .children li,
.stm_sidebar .widget.widget_product_categories ul li .children li,
.shop_widgets .widget.widget_nav_menu ul li .children li,
.shop_widgets .widget.widget_categories ul li .children li,
.shop_widgets .widget.widget_product_categories ul li .children li,
.item .item_wr .content .stm-event__meta li,
.wpb_text_column ul li p,
.comment-body ul li p,
.comment-text ul li p,
.icon_box.style_10 .icon_box_inner h4,
.stm_portfolio_grid
  .item
  .item_thumbnail
  a
  .portfolio-title
  .portfolio-category,
.widget.widget_nav_menu ul li.children ul li,
.widget.widget_nav_menu ul li.sub-menu ul li,
.widget.widget_categories ul li.children ul li,
.widget.widget_categories ul li.sub-menu ul li,
.widget.widget_product_categories ul li.children ul li,
.widget.widget_product_categories ul li.sub-menu ul li,
.widget.widget_archive ul li.children ul li,
.widget.widget_archive ul li.sub-menu ul li,
.widget.widget_pages ul li.children ul li,
.widget.widget_pages ul li.sub-menu ul li,
.widget.widget_meta ul li.children ul li,
.widget.widget_meta ul li.sub-menu ul li,
body .vc_general.vc_btn3 {
  font-family: Roboto, Arial;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}
.elementor-progress-text,
.elementor-tab-title a,
.consulting_heading_font,
.elementor-widget-wp-widget-nav_menu ul li,
.elementor-button-text,
.elementor-tab-title {
  font-family: Roboto;
  font-style: normal;
}
.wpb_wrapper p,
.elementor-element {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
}
h1,
.h1 {
  font-size: 60px;
  line-height: 64px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: normal;
}
h2,
.h2 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: normal;
}
h3,
.h3 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: normal;
}
h4,
.h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: normal;
}
h5,
.h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: normal;
}
h6,
.h6 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: normal;
}
