.elementor-13168 .elementor-element.elementor-element-9b8e7e6,
.elementor-13168
  .elementor-element.elementor-element-9b8e7e6
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-13168 .elementor-element.elementor-element-9b8e7e6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: -64px;
  padding: 0px 0px 0px 0px;
}
.elementor-13168
  .elementor-element.elementor-element-9b8e7e6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13168
  .elementor-element.elementor-element-ec5ad09
  > .elementor-element-populated {
  padding: 10px 15px 10px 15px;
}
.elementor-13168
  .elementor-element.elementor-element-c55a5b6
  .ce_cta__content__title {
  font-size: 30px;
  line-height: 42px;
}
.elementor-13168
  .elementor-element.elementor-element-c55a5b6
  .ce_cta__content__text {
  color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-c55a5b6
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 17px 0px 15px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-13168
  .elementor-element.elementor-element-e40ca83:not(.elementor-motion-effects-element-type-background),
.elementor-13168
  .elementor-element.elementor-element-e40ca83
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-13168 .elementor-element.elementor-element-e40ca83 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 62px;
  margin-bottom: 0px;
  padding: 97px 0px 0px 0px;
}
.elementor-13168
  .elementor-element.elementor-element-e40ca83
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13168
  .elementor-element.elementor-element-d548111
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-13168
  .elementor-element.elementor-element-f103f93
  > .elementor-element-populated {
  padding: 10px 15px 10px 0px;
}
.elementor-13168 .elementor-element.elementor-element-6efb5da {
  color: #ffffff;
  font-size: 13px;
}
.elementor-13168
  .elementor-element.elementor-element-6efb5da
  > .elementor-widget-container {
  margin: 17px 0px 0px 0px;
}
.elementor-13168
  .elementor-element.elementor-element-cc626e8
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 16px 0px 16px;
}
.elementor-13168
  .elementor-element.elementor-element-cc626e8
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13168
  .elementor-element.elementor-element-1245219
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 16px 10px 16px;
}
.elementor-13168
  .elementor-element.elementor-element-1245219
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13168
  .elementor-element.elementor-element-21e5e91
  > .elementor-element-populated {
  padding: 10px 0px 10px 15px;
}
.elementor-13168
  .elementor-element.elementor-element-4037eae
  .elementor-heading-title {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: -0.8px;
}
.elementor-13168
  .elementor-element.elementor-element-5d2718e
  .consulting_newsletter_widget
  button {
  fill: #fdfdfd;
  color: #fdfdfd;
}
.elementor-13168
  .elementor-element.elementor-element-5d2718e
  .consulting_newsletter_widget
  button
  i {
  fill: #000000;
  color: #000000;
}
.elementor-13168
  .elementor-element.elementor-element-5d2718e
  .consulting_newsletter_widget
  button {
  background-color: #ffffff;
  padding: 10px 15px 10px 0px;
}
.elementor-13168
  .elementor-element.elementor-element-5d2718e
  .consulting_newsletter_widget
  .mc4wp-alert
  p,
.elementor-13168
  .elementor-element.elementor-element-5d2718e
  .consulting_newsletter_widget
  .mc4wp-error
  p {
  color: #e6e6e6;
}
.elementor-13168 .elementor-element.elementor-element-cbb161f {
  color: #ffffffa1;
  font-size: 13px;
}
.elementor-13168
  .elementor-element.elementor-element-fd505d1
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: space-between;
  align-items: space-between;
}
.elementor-13168 .elementor-element.elementor-element-fd505d1 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #667d93;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 17px 0px 17px 0px;
}
.elementor-13168
  .elementor-element.elementor-element-fd505d1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-13168
  .elementor-element.elementor-element-e16d1bb.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-13168
  .elementor-element.elementor-element-e16d1bb.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-13168
  .elementor-element.elementor-element-e16d1bb
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13168
  .elementor-element.elementor-element-10fb40f
  .hfe-copyright-wrapper
  a,
.elementor-13168
  .elementor-element.elementor-element-10fb40f
  .hfe-copyright-wrapper {
  color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-10fb40f
  .hfe-copyright-wrapper,
.elementor-13168
  .elementor-element.elementor-element-10fb40f
  .hfe-copyright-wrapper
  a {
  font-size: 13px;
}
.elementor-bc-flex-widget
  .elementor-13168
  .elementor-element.elementor-element-206d5f7.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-13168
  .elementor-element.elementor-element-206d5f7.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-13168
  .elementor-element.elementor-element-206d5f7.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-13168
  .elementor-element.elementor-element-206d5f7
  > .elementor-element-populated {
  padding: 0px 0px 0px 10px;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
  color: #002e5b;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-framed
  .elementor-icon,
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-default
  .elementor-icon {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-framed
  .elementor-icon,
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-default
  .elementor-icon
  svg {
  fill: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-framed
  .elementor-icon {
  background-color: #002e5b;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-stacked
  .elementor-icon
  svg {
  fill: #002e5b;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #4267b2;
  color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-framed
  .elementor-icon:hover,
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-default
  .elementor-icon:hover {
  color: #4267b2;
  border-color: #4267b2;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-framed
  .elementor-icon:hover,
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: #4267b2;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-framed
  .elementor-icon:hover {
  background-color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f.elementor-view-stacked
  .elementor-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-13168 .elementor-element.elementor-element-7bb8d0f .elementor-icon {
  font-size: 16px;
}
.elementor-13168
  .elementor-element.elementor-element-7bb8d0f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-13168 .elementor-element.elementor-element-7bb8d0f {
  width: auto;
  max-width: auto;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
  color: #002e5b;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-framed
  .elementor-icon,
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-default
  .elementor-icon {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-framed
  .elementor-icon,
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-default
  .elementor-icon
  svg {
  fill: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-framed
  .elementor-icon {
  background-color: #002e5b;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-stacked
  .elementor-icon
  svg {
  fill: #002e5b;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #00acee;
  color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-framed
  .elementor-icon:hover,
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-default
  .elementor-icon:hover {
  color: #00acee;
  border-color: #00acee;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-framed
  .elementor-icon:hover,
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: #00acee;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-framed
  .elementor-icon:hover {
  background-color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb.elementor-view-stacked
  .elementor-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-13168 .elementor-element.elementor-element-daa67cb .elementor-icon {
  font-size: 16px;
}
.elementor-13168
  .elementor-element.elementor-element-daa67cb
  > .elementor-widget-container {
  margin: 0px 0px 0px 8px;
}
.elementor-13168 .elementor-element.elementor-element-daa67cb {
  width: auto;
  max-width: auto;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
  color: #002e5b;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-framed
  .elementor-icon,
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-default
  .elementor-icon {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-framed
  .elementor-icon,
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-default
  .elementor-icon
  svg {
  fill: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-framed
  .elementor-icon {
  background-color: #002e5b;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-stacked
  .elementor-icon
  svg {
  fill: #002e5b;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #171717;
  color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-framed
  .elementor-icon:hover,
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-default
  .elementor-icon:hover {
  color: #171717;
  border-color: #171717;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-framed
  .elementor-icon:hover,
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: #171717;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-framed
  .elementor-icon:hover {
  background-color: #ffffff;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33.elementor-view-stacked
  .elementor-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-13168 .elementor-element.elementor-element-cef8b33 .elementor-icon {
  font-size: 16px;
}
.elementor-13168
  .elementor-element.elementor-element-cef8b33
  > .elementor-widget-container {
  margin: 0px 0px 0px 8px;
}
.elementor-13168 .elementor-element.elementor-element-cef8b33 {
  width: auto;
  max-width: auto;
}
@media (max-width: 767px) {
  .elementor-13168
    .elementor-element.elementor-element-cc626e8
    > .elementor-element-populated {
    margin: 20px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-13168
    .elementor-element.elementor-element-1245219
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13168
    .elementor-element.elementor-element-21e5e91
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-13168 .elementor-element.elementor-element-ec5ad09 {
    width: 100%;
  }
  .elementor-13168 .elementor-element.elementor-element-e16d1bb {
    width: 70%;
  }
  .elementor-13168 .elementor-element.elementor-element-206d5f7 {
    width: 30%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-13168 .elementor-element.elementor-element-ec5ad09 {
    width: 100%;
  }
  .elementor-13168 .elementor-element.elementor-element-f103f93 {
    width: 50%;
  }
  .elementor-13168 .elementor-element.elementor-element-cc626e8 {
    width: 50%;
  }
  .elementor-13168 .elementor-element.elementor-element-1245219 {
    width: 50%;
  }
  .elementor-13168 .elementor-element.elementor-element-21e5e91 {
    width: 50%;
  }
}
